#animated-text{
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0 40px;
  height: 60px;
  overflow: hidden;
  text-align: center;
  font-size: 50px;
}
.line{
  padding: 20px 0;
 line-height: 60px;
 font-size: 60px;
 font-weight: 600;
 text-align: center;
}
.line::first-line{
  
  animation:anim 12s infinite;
  
}
@keyframes anim{
  0%{
    margin-top: -300px;
  }
  5%{
    margin-top: -200px;
  }
  33%{
    margin-top: -200px;
  }
  38%{
    margin-top: -200px;
  }
  66%{
    margin-top: -100px;
  }
  100%{
    margin-top: 0;
  }
}


/* Main text */
.maintext {
  color: #000;
  font-size: 60px;
  font-weight: 600;
  padding: 8px 12px;
  bottom: 8px;
  width: 100%;
  text-align: center;
  
}

/* second text*/
.second {
  animation: fadeOutUp;
  animation-duration: 2s;
  color: #000;
  font-size: 24px;
  font-weight: 600;
  padding: 8px 12px;
  text-align: center;
  justify-items: center;
}
.brown{
  color: #c28b00;
}
.dgreen{
  color: #618c7b;
}
.blue{
  color: #618c7b;
}
.green{
  color: #407a57;
}


/* The dots/bullets/indicators */
.dot {
  height: 10px;
  width: 10px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.dota{
  background-color: #9b1919;
}


/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .maintext {font-size: 11px}
}